<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <script type="module" src="dist/mapml-viewer.js"></script>
    <script src="../content.js"></script>
</head>
<body>
    <!--Map size is not properly set if stylesheet link is in head-->
    <link rel="stylesheet" href="global.css">
    <mapml-viewer projection="CBMTILE" controls>
        <layer-></layer->
    </mapml-viewer>
</body>
</html>